.SignUp__container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #faffd1;
  background: -webkit-linear-gradient(to right, #a1ffce, #faffd1);
  background: linear-gradient(to right, #a1ffce, #faffd1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
